.flex-container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    height: 900px;
    width: 850px
}

.card {
    margin: 40px 30px;
}

.cont {
    display: flex;
    justify-content: center;
}